#race-panel {
  position: relative;
  background: @black;
  padding: 25px;
  border: 5px solid @blue;
  #race-participants {
    padding: 0px;
  }
  .race-participant {
    list-style-type: none;
    position: relative;
    img {
      position: relative;
      z-index: 1;
      width: 100px;
    }
    &:before {
      z-index: 0;
      content: '';
      border: 1px solid @blue;
      position: absolute;
      right: 0px;
      left: 0px;
      top: 45px;
    }
  }

  .goal {
    text-align: center;
    font-size: 65px;
    border: 1px solid @gray;
    padding: 10px;
  }

  #sequence-form {
    margin-top: 25px;
    padding-top: 15px;
    #message {
      border: 1px solid @blue;
      width: calc(~"100%" - 25px);
      padding: 10px;
      font-size: 60px;
      background: @black;
      color: @white;
    }
  }

  .good {
    color: @green;
  }
  .bad {
    color: @red;
  }
  .buttons {
    text-align: center;
    padding-top: 20px;
  }
}
