template(name="race")
  section#race-panel
    ul#race-participants
      each participants
        +race_participant

    aside.goal= race.phrase

    +if isParticipating
      form#sequence-form
        input#message(type="text", name="message", placeholder="Type...")

template(name="race_participant")
  li.race-participant
    if isCurrentRacer racerKey
      span.name You
    else if name
      span.name= name
    else
      span.name The Mysterious Racer X

    aside.track
      if avatar
        img(src="/images/#{avatar}.png")
      else
        img(src="/images/car.png")

